<ion-grid no-padding>
  <ion-row>
    <ion-col size="4" class="image-col">
      <ion-img src="assets/images/foto2.jpg" alt="flowers"></ion-img>
    </ion-col>
    <ion-col size="4" class="image-col">
      <ion-img src="assets/images/foto3.jpg" alt="flowers"></ion-img>
    </ion-col>
    <ion-col size="4" class="image-col">
      <ion-img src="assets/images/foto5.jpg" alt="flowers"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid no-padding>
  <ion-row>
    <ion-col size="6" class="image-col">
      <ion-img src="assets/images/foto6.jpg" alt="flowers"></ion-img>
    </ion-col>
    <ion-col size="6" class="image-col">
      <ion-img src="assets/images/foto9.jpg" alt="flowers"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid no-padding>
  <ion-row>
    <ion-col size="4" class="image-col">
      <ion-img src="assets/images/michi.jpg" alt="flowers"></ion-img>
    </ion-col>
    <ion-col size="4" class="image-col">
      <ion-img src="assets/images/kirby.jpeg" alt="flowers"></ion-img>
    </ion-col>
    <ion-col size="4" class="image-col">
      <ion-img src="assets/images/foto10.jpg" alt="flowers"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid no-padding>
  <ion-row>
    <ion-col size="6" class="image-col">
      <ion-img src="assets/images/foto4.jpg" alt="flowers"></ion-img>
    </ion-col>
    <ion-col size="6" class="image-col">
      <ion-img src="assets/images/foto3.jpg" alt="flowers"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>